h4 Card {{index+1}} of {{total}} 
span Current Score: {{score}}

h6 
  | {{card.question}}

p = "{{secondsElapsed}} Seconds"
p = "{{attemptsLeft}} Tries Left"

input type="text" name="input" id="input"
input type="button" value="Submit" ng-click="checkAnswer()"
